<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    
</head>

<body>
    <div class="main-content">
         {{>header}}
         <p>This site was created by Harland Williams. It uses mapbox.com and darksky.net to get the weather.</p>
   <img class = "portrait" src="/img/BlueRiver.JPG" >
    </div>
   
   {{>footer}}
</body>

</html>